body{
  display: grid;
  grid-template-areas:
  "header header" 
  "landing servicios"
  "footer footer"

}

app-header{
  grid-area: header;
}

app-landing-page{
  grid-area: landing;
}

app-servicios{
  grid-area: servicios;
}

app-footer{
  grid-area: footer;
}

